**/build/
**/.gradle/
**/run/
releases/
.env
.env.*
luna-bridge.json
**/luna-bridge.json
*.sqlite
*.sqlite-*
*.db
*.db-*
*.log
*.jar
!fabric/gradle/wrapper/gradle-wrapper.jar
*.zip
.idea/
.vscode/
fabric/.github/
